.contacts-section {
  @include alignment-desktop();
  padding: 120px 110px 119px 105px;
  display: flex;
}

.contacts-section__map {
  @include size (559px, auto);
  margin-right: 100px;
}

.contacts-section__wrapper {
  min-width: 280px;
  width: calc(100% - 560px - 100px);
  box-sizing: border-box;
  padding-top: 57px;
  padding-bottom: 71px;
}

.contacts-section__list {
  @include list-reset();
  margin-right: -35px;
}

.contacts-section__item {
  display: flex;
  margin-bottom: 5px;
}

.contacts-section__text {
  font-weight: 500;

  @include font(18px, 27px);
  color: $dark;
  margin-bottom: 33px;
}

.contacts-section__address {
  width: calc(100% - 18px - 8px);
  font-weight: 400;

  @include font(16px, 24px);
  color: $dark;
  margin-top: 0;
}

.contacts-section__link {
  @include link-reset($dark);
  font-weight: 400;

  @include font(16px, 24px);
  display: flex;
  align-items: center;

  &:hover {
    color: $dark-hover;
  }

  &:active,
  &:focus {
    outline: 2px solid #81b3d2;
  }
}

.contacts-section__svg {
  margin-right: 8px;
}

.contacts-section__svg--pointer {
  @include size(18px, 22px);
}

.contacts-section__svg--tel {
  fill: $dark;

  @include size(18px, 18px);
}

.contacts-section__link:hover .contacts-section__svg--tel {
  fill: $dark-hover;
}

@media (min-width: $tablet-min-width) and (max-width: $tablet-max-width) {
  .contacts-section {
    padding: 100px 45px 92px 45px;
  }

  .contacts-section__map {
    @include size (324px, 335px);
    margin-right: 30px;
  }

  .contacts-section__wrapper {
    width: calc(100% - 324px - 30px);
    padding-top: 48px;
  }

  .contacts-section__text {
    margin-bottom: 27px;
  }

  .contacts-section__list {
    padding-right: 35px;
    margin-right: 0;
  }

  .contacts-section__svg {
    margin-right: 10px;
  }

  .contacts-section__svg--pointer {
    width: 26px;
    height: 22px;
    margin-right: 3px;
    position: relative;
    top: 5px;
    left: -4px;
  }
}

@media (min-width: 0) and (max-width: $mobile-max-width) {
  .contacts-section {
    @include alignment-mobile();
    padding: 10px 15px 46px 15px;
    flex-direction: column-reverse;
  }

  .contacts-section__map {
    width: auto;
    height: 335px;
    margin-right: 0;
  }

  .contacts-section__wrapper {
    width: auto;
    padding-top: 48px;
    padding-bottom: 31px;
  }

  .contacts-section__text {
    margin-top: 0;
    margin-bottom: 27px;
  }

  .contacts-section__svg {
    margin-right: 10px;
  }

  .contacts-section__svg--pointer {
    position: relative;
    top: 5px;
  }

  .contacts-section__list {
    margin-right: 0;
  }
}
