.form-section {
  background-image: url("../img/background-3.png");
  background-color: $dark-active;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/background-3@2x.png");
  }
}

.form-section__wrapper-content {
  @include alignment-desktop();
  padding: 50px 162px 49px 163px;
  display: flex;
}

.form-section__wrapper-text {
  width: 50%;
  padding-top: 130px;
  margin-right: 20px;
}

.form-section__title {
  font-weight: 700;

  @include font(40px, 60px);
  color: $dark;
  margin-bottom: 8px;
}

.form-section__text {
  font-weight: 400;

  @include font(18px, 27px);
  color: $dark;
  margin-top: 0;
  padding-right: 170px;
}

.form-section__wrapper-form {
  width: 403px;
  padding: 45px 50px 50px;
  box-sizing: border-box;
  background-color: $dark;
  margin-left: auto;

  form {
    display: flex;
    flex-direction: column;
  }

  label {
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    &:focus {
      outline: none;
    }
  }

  input {
    width: 100%;
    box-sizing: border-box;
    background-color: $light;
    color: $dark;
    font-weight: 400;
    cursor: pointer;

    @include font(14px, 21px);
    padding: 12px 16px 10px;
    border: none;
    border-radius: 0;

    &:active,
    &:focus {
      outline: 2px solid #81b3d2;
    }
  }

  input[type="checkbox"] {
    @include size(0, 0);
    margin: 0;
  }

  input[type="checkbox"] + span {
    display: block;
    cursor: pointer;

    @include size (18px, 18px);
    margin-right: 5px;
    background-color: $light;
  }

  svg {
    @include size (18px, 10px);
    fill: none;
    display: none;
  }

  input[type="checkbox"]:checked + span {
    svg {
      display: block;
      position: relative;
      top: 4px;
    }
  }

  input[type="checkbox"]:focus + span,
  input[type="checkbox"]:active + span {
    cursor: pointer;
    outline: 2px solid #81b3d2;
  }

  span:last-of-type {
    font-weight: 400;

    @include font(10px, 13px);
    color: $light;
    width: calc(100% - 24px);
  }

  button {
    width: 100%;
    background-color: $light;
    color: $dark;
    font-weight: 600;

    @include font(14px, 21px);
    padding: 11px;
    margin-top: 11px;
    border: none;
    cursor: pointer;

    &:active,
    &:focus {
      outline: 2px solid #81b3d2;
    }
  }
}

.form-section__description {
  font-weight: 400;

  @include font(18px, 27px);
  color: $light;
  margin-top: 0;
  margin-bottom: 26px;
}

@media (min-width: $tablet-min-width) and (max-width: $tablet-max-width) {
  .form-section {
    background-image: url("../img/background-3-tablet@1x.png");
    padding-bottom: 99px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/background-3-tablet@2x.png");
    }
  }

  .form-section__wrapper-content {
    padding-left: 45px;
    padding-right: 45px;
    flex-direction: column;
    padding-bottom: 0;
  }

  .form-section__wrapper-text {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 34px;
    text-align: center;
    margin-right: 0;
  }

  .form-section__title {
    @include font(34px, 51px);
    margin-bottom: 5px;
  }

  .form-section__text {
    margin-top: 0;
    padding: 0 160px;
  }

  .form-section__wrapper-form {
    margin: 0 auto;
  }

  .form-section__description {
    margin-bottom: 26px;
  }
}

@media (min-width: 0) and (max-width: $mobile-max-width) {
  .form-section {
    background-image: url("../img/background-3-mobile@1x.png");
    padding-bottom: 65px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/background-3-mobile@2x.png");
    }
  }

  .form-section__wrapper-content {
    @include alignment-mobile();
    flex-direction: column;
    padding-top: 29px;
    padding-bottom: 0;
  }

  .form-section__wrapper-text {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 18px;
    text-align: center;
    margin-right: 0;
  }

  .form-section__title {
    @include font(24px, 31px);
    margin-bottom: 14px;
  }

  .form-section__text {
    @include font(16px, 22px);
    margin-top: 0;
    padding: 0 10px;
  }

  .form-section__wrapper-form {
    width: 290px;
    padding: 35px 30px 41px;
    margin: 0 auto;

    input[type="checkbox"] {
      @include size (30px, 20px);
    }

    label:last-of-type {
      margin-top: -2px;
    }

    input[type="checkbox"] + span {
      width: 19px;
      height: 19px;
      margin-right: 10px;
    }

    input[type="checkbox"]:checked + span svg {
      left: 1px;
    }

    button {
      margin-top: 5px;
    }
  }

  .form-section__description {
    @include font(18px, 25px);
    margin-bottom: 28px;
    text-align: center;
  }
}
