.journey-section {
  @include alignment-desktop();
  display: flex;
  margin-bottom: 116px;
}

.journey-section__wrapper-text {
  width: calc(50% - 65px);
  margin-right: 20px;
}

.journey-section__title {
  @include title();
  margin-top: 56px;
  margin-bottom: 24px;
}

.journey-section__text {
  @include font(16px, 24px);
}

.journey-section__wrapper-img {
  margin-left: auto;
  display: flex;
  align-items: center;
}

@media (min-width: $tablet-min-width) and (max-width: $tablet-max-width) {
  .journey-section {
    padding-left: 45px;
    padding-right: 45px;
    margin-bottom: 77px;
  }

  .journey-section__wrapper-text {
    width: calc(50% - 20px);
  }

  .journey-section__title {
    @include title-tablet();
    margin-top: -9px;
    margin-bottom: 15px;
    padding-right: 20px;
  }

  .journey-section__wrapper-img {
    align-items: flex-start;
  }

  .journey-section__img {
    @include size (324px, 264px);
  }
}

@media (min-width: 0) and (max-width: $mobile-max-width) {
  .journey-section {
    @include alignment-mobile();
    flex-direction: column;
    margin-bottom: 60px;
  }

  .journey-section__wrapper-text {
    width: 100%;
  }

  .journey-section__title {
    @include title-mobile();
    margin-top: 0;
    margin-bottom: 15px;
    padding-right: 20px;
  }

  .journey-section__text {
    margin-bottom: 32px;
  }

  .journey-section__wrapper-img {
    margin-left: 0;
    display: block;
  }
}
