.main-menu {
  display: flex;
  margin-left: auto;
}

.main-menu__button {
  background-color: transparent;
  border: none;
  display: none;
  cursor: pointer;

  &:active,
  &:focus {
    outline: 2px solid #81b3d2;
  }
}

.main-menu__span {
  font-size: 0;
}

.main-menu__list {
  @include list-reset();
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  top: 0;
  padding-top: 5px;
}

.main-menu__list-item:not(:first-child) {
  margin-left: 34px;
}

.main-menu__link {
  @include font(16px, 30px);
  @include link-reset($light);

  font-weight: 500;

  &:hover {
    color: $light-hover;
  }

  &:focus {
    color: $light-active;
    outline: 2px solid #81b3d2;
  }

  &:active {
    outline: 2px solid #81b3d2;
  }
}

@media (min-width: $tablet-min-width) and (max-width: $tablet-max-width) {
  .main-menu__list {
    padding-top: 0;
  }

  .main-menu__list-item:not(:first-child) {
    margin-left: 24px;
  }

  .main-menu__link {
    @include font(14px, 22px);
  }
}

@media (min-width: 0) and (max-width: $mobile-max-width) {
  .main-menu {
    flex-wrap: wrap;
  }

  .main-menu__svg--open {
    stroke: $light;
    width: 30px;
    height: 14px;
    position: relative;
    top: 3px;
    right: 0;
  }

  .main-menu__svg--close {
    display: none;
  }

  .main-menu__button {
    display: block;
    margin-left: auto;
    padding: 0;
    position: relative;
    left: 3px;

    &:hover .main-menu__svg--open {
      stroke: $light-hover;
    }

    &:focus .main-menu__svg--open {
      stroke: $light-active;
    }
  }

  .main-menu__wrapper {
    background-color: transparent;
    display: none;
  }

  .main-menu__link {
    @include font(18px, 22px);

    &:hover {
      color: $dark-hover;
    }

    &:focus {
      color: $dark-active;
    }
  }
}
