.main-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  margin-left: auto;
  padding-top: 33px;
}

.main-menu__list {
  @include list-reset();
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.main-menu__list-item:not(:first-child) {
  margin-left: 87px;
}

.main-menu__list-item {
  a {
    @include font(16px, 30px);
    @include link-reset($white);

    font-family: "PT-Mono", "Arial", sans-serif;
    font-weight: 400;

    &:hover {
      color: $blue;
    }

    &:focus {
      outline: 1px solid $blue;
    }

    &:active {
      color: $blue-active;
      outline: 1px solid $blue;
    }

    &:active .main-menu__svg {
      stroke: $blue-active;
    }
  }

  svg {
    margin-right: 6px;
  }
}

.main-menu__svg-mail {
  @include size(20px, 18px);
  position: relative;
  top: 4px;
  left: -4px;
}

.main-menu__svg-phone {
  @include size(19px, 19px);
  position: relative;
  top: 4px;
}

.main-menu__link {
  @include link-reset($white);
  display: block;
  font-weight: 400;

  @include font(14px, 17px);
  text-transform: uppercase;
  letter-spacing: 0.8px;
  background-color: transparent;
  border: 1px solid $white;
  border-radius: 5px;
  cursor: pointer;
  max-width: 181px;
  padding: 13px 27px;
  margin-left: 49px;

  &:hover {
    color: $blue;
    border-color: $blue;
  }

  &:focus {
    border-color: $blue;
    outline: none;
  }

  &:active {
    color: $blue-active;
    border-color: $blue-active;
    outline: none;
  }
}

@media (min-width: $tablet-min-width) and (max-width: $tablet-max-width) {
  .main-menu__list-item:not(:first-child) {
    margin-left: 36px;
  }

  .main-menu__list-item {
    a {
      font-size: 0;
    }

    svg {
      margin-right: 0;
    }
  }

  .main-menu__svg-mail {
    @include size(24px, 22px);
    top: 0;
    left: 0;
  }

  .main-menu__svg-phone {
    @include size(24px, 24px);
    top: 0;
    left: -2px;
  }

  .main-menu__link {
    display: none;
  }
}

@media (min-width: 0) and (max-width: $mobile-max-width) {
  .main-menu {
    padding-top: 22px;
  }

  .main-menu__list-item:not(:first-child) {
    margin-left: 24px;
  }

  .main-menu__list-item {
    a {
      font-size: 0;
    }

    svg {
      margin-right: 0;
    }
  }

  .main-menu__svg-mail {
    @include size(24px, 24px);
    top: 0;
    left: 0;
  }

  .main-menu__svg-phone {
    @include size(24px, 24px);
    top: 0;
    left: -1px;
  }

  .main-menu__link {
    display: none;
  }
}
