@media (min-width: 0) and (max-width: $mobile-max-width) {
  .no-js {
    .no-js__link-logo {
      margin-left: 0;
    }

    .no-js__img {
      display: none;
    }

    .no-js__img-dark {
      display: block;

      @include size(42px, 22px);
      padding-left: 15px;
      padding-right: 15px;
      margin-left: 0;
    }

    .no-js__header {
      min-height: 500px;
    }

    .no-js__wrapper-alignment {
      min-width: $mobile-min-width;
      max-width: 100%;
      padding-left: 0;
      padding-right: 0;
      margin-bottom: 70px;
      background-color: $light;
      flex-direction: column;
    }

    .no-js__nav {
      width: auto;
      margin-left: 0;

      @include alignment-mobile();
      min-height: 259px;
      box-sizing: border-box;
      background-color: $light;
      padding-top: 38px;
    }

    .no-js__wrapper {
      display: block;
    }

    .no-js__button {
      display: none;
    }

    .no-js__list {
      flex-direction: column;
    }

    .no-js__list-item {
      margin-bottom: 21px;
      margin-left: 0;
    }

    .no-js__link {
      color: $dark;

      &:hover {
        color: $dark-hover;
      }

      &:focus {
        color: $dark-active;
      }
    }
  }
}
