.open-list {
  .open-list__list {
    top: 100%;
    display: block;
    transition: 3s linear;
  }

  .open-list__svg-open {
    display: none;
  }

  .open-list__svg-close {
    display: block;
  }
}
