.page-header {
  background-image: url("../img/background-1.png");
  background-color: $dark-active;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 650px;
  margin-bottom: 120px;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/background-1@2x.png");
  }
}

.page-header__wrapper-alignment {
  @include alignment-desktop();
  display: flex;
  padding-top: 35px;
  margin-bottom: 197px;
}

.page-header__link-logo {
  display: block;

  @include size(70px, 38px);
  margin-right: 50px;

  &:active,
  &:focus {
    outline: 2px solid #81b3d2;
  }
}

.page-header__img--dark {
  display: none;
}

.page-header__nav {
  max-width: calc(100% - 120px);
}

.page-header__heading {
  @include font(54px, 66px);
  font-weight: 700;
  color: $light;
  margin-top: 0;

  @include alignment-desktop();
  padding-left: 199px;
  margin-bottom: 12px;
}

.page-header__text {
  @include font(20px, 25px);
  font-weight: 400;
  color: $light;
  margin-top: 0;

  @include alignment-desktop();
  padding-left: 198px;
  padding-bottom: 50px;
}

@media (min-width: $tablet-min-width) and (max-width: $tablet-max-width) {
  .page-header {
    min-height: 638px;
    background-image: url("../img/background-tablet-1.png");
    margin-bottom: 100px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/background-tablet-1@2x.png");
    }
  }

  .page-header__wrapper-alignment {
    padding-left: 45px;
    padding-right: 45px;
    padding-top: 29px;
    margin-bottom: 217px;
  }

  .page-header__heading {
    @include font(50px, 61px);
    padding-left: 45px;
    padding-right: 45px;
    margin-bottom: 12px;
  }

  .page-header__text {
    padding-left: 45px;
    padding-right: 45px;

    @include font(18px, 22px);
  }

  .page-header__link-logo {
    display: block;

    @include size(38px, 20px);
  }

  .page-header__img--dark {
    display: none;
  }

  .page-header__nav {
    max-width: calc(100% - 88px);
  }
}

@media (min-width: 0) and (max-width: $mobile-max-width) {
  .page-header {
    min-height: 500px;
    background-image: url("../img/background-mobile-1.png");
    position: relative;
    margin-bottom: 57px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/background-mobile-1@2x.png");
    }
  }

  .page-header__wrapper-alignment {
    @include alignment-mobile();
    padding-top: 20px;
    margin-bottom: 137px;
  }

  .page-header__heading {
    @include font(36px, 45px);
    @include alignment-mobile();
    margin-bottom: 10px;
  }

  .page-header__text {
    @include alignment-mobile();
    @include font(16px, 22px);
    padding-right: 80px;
  }

  .page-header__link-logo {
    display: block;

    @include size(38px, 20px);
    margin-left: 2px;
  }

  .page-header__img--dark {
    display: none;
  }

  .page-header--opened {
    .page-header__wrapper-alignment {
      background-color: $light;
      flex-direction: column;
    }

    .page-header__img {
      display: none;
    }

    .page-header__img--dark {
      display: block;
    }

    .page-header__button {
      top: -39px;
      right: 8px;
      height: 20px;

      &:hover .page-header__svg-close {
        stroke: $dark-hover;
      }

      &:focus .page-header__svg-close {
        stroke: $dark-active;
      }
    }

    .page-header__svg-open {
      display: none;
    }

    .page-header__svg-close {
      display: block;
      position: relative;
      top: -15px;
    }

    .page-header__wrapper {
      display: block;
      width: 100%;
    }

    .page-header__nav {
      max-width: 100%;
      width: 100%;
      margin-left: 0;

      @include alignment-mobile();
      min-height: 259px;
      box-sizing: border-box;
      background-color: $light;
      padding-top: 20px;
      position: absolute;
      top: 40px;
      left: 0;
    }

    .page-header__list {
      flex-direction: column;
      position: relative;
      top: -31px;
    }

    .page-header__list-item:not(:last-child) {
      margin-bottom: 21px;
      margin-left: 0;
    }

    .page-header__list-item:last-child {
      margin-left: 0;
    }

    .page-header__link {
      color: $dark;

      &:hover {
        color: $dark-hover;
      }

      &:focus {
        color: $dark-active;
      }
    }
  }
}
