.page-header {
  background-image: url("../../img/background-desktop@1x.png");
  background-color: $dark-grey;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 878px;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../../img/background-desktop@2x.png");
  }
}

.page-header__wrapper-alignment {
  @include alignment-desktop();
  display: flex;
}

.page-header__link-logo {
  min-width: 202px;
  margin-right: 30px;
  padding-top: 33px;
}

.page-header__img {
  @include size(52px, 52px);
}

.page-header__wrapper-text {
  display: flex;
  flex-direction: column;
  padding-top: 5px;
}

.page-header__logo-title {
  color: $white;
}

.page-header__wrapper-content {
  padding-top: 173px;
  padding-left: 248px;
  padding-right: 180px;
  display: flex;
  position: relative;
  background-image: url('../../img/polygon\(max\).svg');
  background-repeat: no-repeat;
  background-size: 636px 636px;
  background-position: right bottom;
}

.page-header__wrapper-info {
  width: calc(55% + 50px);
  margin-right: 55px;
}

.page-header__heading {
  color: $white;
  text-transform: uppercase;
  letter-spacing: 5.7px;
  margin-top: 57px;
  margin-bottom: 25px;

  @include font(80px, 94px);
  font-weight: 700;
}

.page-header__text {
  color: $white;

  @include font(22px, 35px);
  font-family: 'PT Mono';
  font-weight: 400;
  position: relative;
  padding-left: 98px;
  margin-bottom: 60px;

  &::before {
    content: '';
    display: block;
    @include size (66px, 2px);
    background-color: $white;
    position: relative;
    left: -93px;
    top: 19px;
  }
}

.page-header__button {
  font-weight: 700;
  @include link-reset($white);

  @include font(16px, 19px);
  text-transform: uppercase;
  letter-spacing: 0.8px;
  background-color: $blue;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  min-width: 181px;
  padding: 18px 45px;
  margin-left: 98px;

  &:hover {
    background-color: $blue-hover;
  }

  &:focus {
    background-color: $blue-hover;
  }

  &:active {
    background-color: $blue-active;
  }
}

.page-header__link {
  display: block;
  width: 100px;
  position: relative;
  writing-mode: tb-rl;
  transform:rotate(180deg);
  @include link-reset($white);
  @include font(14px, 16px);

  font-family: 'PT Mono';
  font-weight: 400;
  margin-top: 111px;
  margin-left: 5px;

  &:hover {
    color: $blue-hover;
  }

  &:focus {
    color: $blue-hover;
  }

  &:active {
    color: $blue-active;
  }
}

.page-header__img-product {
  @include size (705px, 515px);
}

@media (min-width: $tablet-min-width) and (max-width: $tablet-max-width) {
  .page-header {
    background-image: url("../../img/background-tablet@1x.png");
    min-height: 878px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../../img/background-tablet@2x.png");
    }
  }

  .page-header__link-logo {
    margin-left: 0px;
    padding-top: 20px;
  }
}

@media (min-width: 0) and (max-width: $mobile-max-width) {
  .page-header {
    background-image: url("../../img/background-mobile@1x.png");
    min-height: 878px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../../img/background-mobile@2x.png");
    }
  }

  .page-header__wrapper-alignment {
    @include alignment-mobile();
  }

  .page-header__link-logo {
    min-width: 40px;
    margin-left: 2px;
    padding-top: 17px;
  }

  .page-header__img {
    @include size(38px, 38px);
  }

  .page-header__wrapper-text {
    display: none;
  }

  .page-header__img {
    @include size(38px, 38px);
    margin-right: 0;
  }
}
