.products {
  background-color: $dark-grey;
}

.products__wrapper {
  max-width: 1220px;
  box-sizing: border-box;
  margin: 0 auto;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 88px;
  padding-bottom: 97px;
}

.products__title {
  @include font(36px, 51px);
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 52px;
  color: $white;
}

.products__list {
  @include list-reset();
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.products__item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.products__item {
  @include size(370px, 620px);
  margin-bottom: 30px;

  a {
    @include link-reset($white);
    display: block;

    @include size(100%, 100%);
    position: relative;

    &:hover {
      color: $blue;
    }

    &:focus {
      outline: 1px solid $blue;
    }

    &:active {
      color: $blue-active;
    }
  }

  h3 {
    @include font(20px, 30px);
    font-weight: 400;
    position: absolute;
    top: 30px;
    left: 44px;
    box-sizing: border-box;
    padding-right: 155px;
  }

  img {
    display: block;
    padding: 0;
    opacity: 0.2;
  }

  div {
    background-color: $blue;

    @include size(63px, 63px);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    right: 0;
  }

  svg {
    @include size(10px, 10px);
    fill: none;
  }
}

@media (min-width: $tablet-min-width) and (max-width: $tablet-max-width) {
  .products__wrapper {
    padding: 49px 23px 30px 25px;
  }

  .products__title {
    @include font(32px, 45px);
    padding-right: 90px;
    margin-bottom: 50px;
  }

  .products__item:not(:nth-child(3n)) {
    margin-right: 0;
  }

  .products__item {
    @include size(720px, 258px);
    margin-bottom: 46px;

    h3 {
      padding-right: 0;
      max-width: 170px;
      top: 20px;
    }

    img {
      height: 258px;
    }
  }
}

@media (min-width: 0) and (max-width: $mobile-max-width) {
  .products__title {
    @include font(28px, 39px);
    padding-left: 10px;
    margin-bottom: 42px;
  }

  .products__wrapper {
    padding: 50px 15px 34px;
  }

  .products__list {
    flex-direction: column;
    align-items: center;
  }

  .products__item:not(:nth-child(3n)) {
    margin-right: 0;
  }

  .products__item {
    @include size(290px, 256px);
    margin-bottom: 30px;

    h3 {
      padding-right: 0;
      max-width: 170px;
      top: 0;
      left: 35px;
    }

    img {
      height: 256px;
    }
  }
}
