// Базовые размеры

$mobile-min-width: 320px;
$mobile-max-width: 767.9px;
$tablet-min-width: 768px;
$tablet-max-width: 1023.9px;
$desktop-width: 1024px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

// Базовые цвета
$grey: #788891;
$background-img: #C4C4C4;
$blue: #00B2FF;
$color-font: #666666;
$dark-gray: #1B2D37;
$color-border: #EBEBEB;
