// Базовые размеры

$mobile-min-width: 320px;
$mobile-max-width: 767px;
$tablet-min-width: 768px;
$tablet-max-width: 1023px;
$desktop-width: 1024px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

// Базовые цвета
$white: #ffffff;
$white-hover: rgba(255, 255, 255, 0.7);
$white-active: rgba(255, 255, 255, 0.5);
$light-grey: #cdcdcd;
$grey: #788891;
$background-img: #c4c4c4;
$blue: #00b2ff;
$blue-input: rgb(25, 186, 255);
$blue-hover: rgba(0, 178, 255, 0.5);
$blue-active: rgba(0, 178, 255, 0.7);
$color-font: #666666;
$dark-grey: #1b2d37;
$color-border: #ebebeb;
$color-border-footer: rgba(98, 105, 98, 0.2);
$background-footer: #fafafa;
